.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.category-panel {
	width: 60%;
	margin: 10px auto 10px auto;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	font-size: 1.2em;
	border-bottom: solid;
}